{% macro render_dropdown(name, label, choices) %}
<div class="form-field">
    <label for="{{ name }}">{{ label }}</label>

    <select name="{{ name }}" id="{{ name }}">
        {% for vid, vvalue in choices %}
        <option value="{{ vid }}"{% if vid == voter[name] %} selected{% endif %}>
        {{ vvalue }}
        </option>
        {% endfor %}
    </select>
</div>
{% endmacro %}

{% macro render_text(name, label) %}
<div class="form-field">
    <label for="{{ name }}">{{ label }}</label>
    <input type="text" name="{{ name }}" id="{{ name }}" value="{{ voter[name] }}" />
</div>
{% endmacro %}

{% extends "base.html" %}
{% block title %}Edit voter{% endblock %}
{% block content %}
<h1>Edit voter</h1>

<form method="POST">
    {{ render_dropdown(
        "activeinactive",
        "Registration status",
        [("", "Unknown"), ("A", "Active"), ("I", "Inactive")]
    ) }}
    {{ render_text("firstname", "First name") }}
    {{ render_text("middlename", "Middle name") }}
    {{ render_text("lastname", "Last name") }}
    {{ render_text("cellphone", "Cell phone (used for textbank)") }}
    {{ render_text("landlinephone", "Landline phone") }}
    {{ render_text("bestphone", "Best phone (used for phonebank)") }}
    {{ render_dropdown(
        "gender", "Gender", [("", "Unknown"), ("M", "Male"), ("F", "Female"), ("X", "Nonbinary")]
    ) }}
    {{ render_dropdown(
        "race", "Race", [("", "Unknown"), ("W", "White"), ("B", "Black"), ("A", "Asian"), ("I", "American Indian"), ("H", "Hispanic"), ("O", "Other")]
    ) }}
    {{ render_text("birthdate", "Birthdate") }}
    <button type="submit">Save</button>
</form>

{% endblock %}
