{% extends "base.html" %} {% block title %}Turfs{% endblock %} {% block content %}
<h1>Turfs</h1>
<ul class="secretly-a-table">
  {% for turf in db.turfs if (session.admin or turf.id in session.turfs) and turf.visible %}
  <li>
    <a href="{{ url_for('show_turf', id=turf.id) }}">{{ turf.desc }}</a>
    {% if turf.phone_key %}
    (phonebank, {{ turf.voters | length }} voters)
    {% else %}
    ({{ turf.doors | length }} doors, {{ turf.voters | length }} voters)
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% if session.use_map|default(True) %}
<div id="map" style="height: 50vh"></div>
<script>
  const map = L.map('map').setView([33.53, -86.81], 11);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map);

  const geoturfs = {{geoturfs | tojson}};
  const turfs = {{turf_data | tojson}};

  const getDispositionColor = (disposition) => {
    return {
      attempted: 'yellow',
      refused: 'red',
      'do-not-contact': 'red',
      followup: 'green',
      'in-progress': 'white',
      done: 'white',
    }[disposition] ?? 'blue';
  };


  const layer = L.geoJSON(geoturfs, {
    style: ({properties}) => {
        return {color: getDispositionColor(turfs[properties.car_id].disposition), fillOpacity: 0.65};
    },
    onEachFeature: ({properties: {car_id: turf_id, name}}, layer) => {
      layer.bindPopup(`<a href="/turf/${turf_id}">${name}</a>
      <br>${turfs[turf_id].disposition?turfs[turf_id].disposition_name:'Not Started'}
      <br>${turfs[turf_id].doors} door(s), ${turfs[turf_id].voters} voter(s)`);
    },
  });

  layer.addTo(map);
  const bounds = layer.getBounds();
  console.log(bounds);
  map.fitBounds(bounds);

  L.control.locate().addTo(map);
</script>
{% endif %}
<!-- <p style="font-size: 4pt;">hunter bullied me into making an index page lol</p> -->
{% endblock %}
