{% extends "base.html" %}
{% block title %}Phonebank: {{ turf.desc }}{% endblock %}
{% block content %}
<h1>Phonebank: {{ turf.desc }}</h1>
<h2>👨 Voters</h2>
<ul class="secretly-a-table">
    {% for voter in tvoters %}
    <li>
        <span class="phone">{{ reformat_phone(getattr(voter, turf.phone_key)) }}</span>
        <span class="voter">{{ voter_link(voter.id) }}</span>
    </li>
    {% endfor %}
</ul>
<h2>📝 Notes</h2>
{{ render_notes(turf) }}
{{ note_link("turf", turf.id) }}
{% endblock %}
