{% extends "base.html" %}
{% block title %}Turf: {{ turf.desc }}{% endblock %}
{% block content %}
<h1>{{ turf.desc }}</h1>
<span class="turf-code turf-code-big">{{ turf.login_code[:5] }} {{ turf.login_code[5:] }}</span> (tap to view turf code)
<!--
https://www.google.com/maps/dir/
{% for door_id in turf.doors %}{% with door = db.get_door_by_id(door_id) %}{{ door.address + ' ' + door.city + ' AL'|urlencode }}{% endwith %}/{% endfor %}
-->

{% set turf_disposition, disposition_note = turf.last_disposition_with_note() %}
{% if turf_disposition is none %}
<p>Turf not started yet! &middot; <a href="{{ url_for('start_turf', id=turf.id) }}">Claim and start turf</a></p>
{% elif turf_disposition == "in-progress" %}
<p>Turf in progress, claimed by <strong>{{ disposition_note.author }}</strong> {{ render_time_since(disposition_note.ts) }} &middot; <a href="{{ url_for('finish_turf', id=turf.id) }}" onclick="return confirm('Are you sure you want to mark the turf as finished? Next time you start the turf, the status of all doors and voters will be reset.')">Mark turf finished</a></p>
{% elif turf_disposition == "done" %}
<p>Turf finished by <strong>{{ disposition_note.author }}</strong> {{ render_time_since(disposition_note.ts) }} &middot; <a href="{{ url_for('start_turf', id=turf.id) }}">Claim and start turf</a></p>
{% endif %}

{% if session.use_map|default(True) %}
<div id="map" style="height: 50vh;"></div>
{% endif %}

<h2>🚪 Doors</h2>
{% if turf_disposition != "in-progress" %}
<p><strong>This turf is not marked as in-progress.</strong>
If you want to knock doors in this turf, please <a href="{{ url_for('start_turf', id=turf.id) }}">Claim and start turf</a> first.</p>
<details>
    <summary>Show doors anyway</summary>
{% endif %}

{% if false %}
<ul class="secretly-a-table">
    {% for door in turf.doors %}
    <li>{{ door_link(door, turf) }}</li>
    {% endfor %}
</ul>
{% else %}

{% for order_key, doors in pretty_ordered_doors %}
<ul class="secretly-a-table" hx-boost="true">
<li>
    <strong>
    {% if order_key[2] != "" %}
    {{ order_key[2] }} {{ order_key[0] }}
    {% else %}
    {{ order_key[0] }} {{ order_key[1] }} side
    {% endif %}
    </strong>
</li>

    {% for door in doors %}
    <li{% if door.id == session.last_door %} class="last-door"{% endif %}>
        {{ door_link(door.id, turf) }}
    </li>
    {% endfor %}
</ul>
{% endfor %}
{% endif %}

{% if turf_disposition != "in-progress" %}
</details>
{% endif %}

<h2>📝 Notes</h2>
{{ render_notes(turf) }}
{{ note_link("turf", turf.id) }}

{% if session.use_map|default(True) %}
<script>
    var geodoors = {{ geodoors | tojson }};

    var map = L.map("map").setView([33.53, -86.81], 11);;

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var layer = L.geoJSON(geodoors, {
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                `<a hx-boost="true" preload="preload:init" href="${feature.properties.url}">${feature.properties.address}</a><br>${feature.properties.n_voters} voter(s)`
            );
        },
        pointToLayer: function(feature, latlng) {
            var color = "black";
            console.log(feature.properties);
            switch(feature.properties.disposition) {
                case "refused":
                case "do-not-contact":
                    color = "red";
                    break;

                case "done":
                case "attempted":
                    color = "green";
                    break;
            }

            return L.circleMarker(latlng, {
                radius: 8,
                color: color,
                fillOpacity: 0.5,
            });
        }
    });

    layer.addTo(map);
    var bounds = layer.getBounds();
    console.log(bounds);
    map.fitBounds(bounds);

    map.on("popupopen", function() {
        htmx.process(document.querySelector(".leaflet-popup-content"));
    });

    L.control.locate().addTo(map);
</script>
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let scrollPos = localStorage[location.pathname + "scroll"];
        console.log(scrollPos);
        if(scrollPos) {
            document.body.scrollTop = parseInt(scrollPos);
        }

        window.addEventListener("scroll", function() {
            localStorage[location.pathname + "scroll"] = "" + document.body.scrollTop;
        });
    });
</script>
{% endblock %}
