{% macro render_notes(x) %}
{% if x.notes %}
<ul>
    {% for note in x.notes %}
    <li>
        {{ note.author }}, {{ note.ts }}: <em>{{ note.note }}</em>
        {% if note.disposition %}
        <span class="disposition">({{ dispositions[note.disposition] }})</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>no notes!</p>
{% endif %}
{% endmacro %}

{% macro render_disposition(d) %}
{% if d %}
<span class="disposition">({{ dispositions[d] }})</span>
{% endif %}
{% endmacro %}

{% macro note_link(typ, id, text="add new note") %}
<a href="{{ url_for('note_obj', typ=typ, id=id) }}"><button>{{ text }}</button></a>
{% endmacro %}

{% macro turf_link(t) %}
{% with turf = db.get_turf_by_id(t) %}
<a href="{{ url_for('show_turf', id=t) }}">
    turf
</a>
{% endwith %}
{% endmacro %}

{% macro door_link(d, turf=None) %}
{% with door = db.get_door_by_id(d), disp = db.get_disposition_for_type_and_id("door", d, turf) %}
<a href="{{ url_for('show_door', id=d) }}"{% if turf %} data-disposition="{{ disp }}"{% endif %}>
    {{ door.address }}

    {% if turf and disp %}<span class="disposition">({{ dispositions[disp] }})</span>{% endif %}
</a>
{% endwith %}
{% endmacro %}

{% macro voter_link(v, turf=None) %}
{% with voter = db.get_voter_by_id(v) %}
{% with d = db.get_disposition_for_type_and_id("voter", v, turf) %}
<a href="{{ url_for('show_voter', id=v) }}" data-disposition="{{ d }}">
    {{ voter.firstname }} {{ voter.middlename }} {{ voter.lastname }}
    {{ render_disposition(d) }}
</a>
{% endwith %}
{% endwith %}
{% endmacro %}

{% macro render_time_since(start) %}
<span style="text-decoration: underline dotted;" title="{{ start }}">{{ time_taken(start, None) }} ago</span>
{% endmacro %}

{% macro phone_link(x, p) %}
<a href="{{ tel_uri(p) }}"><button>call {{ reformat_phone(p) }} ({{ x }})</button></a>
{% endmacro %}

{% macro sms_link(p) %}
<a href="{{ tel_uri(p, 'sms') }}"><button>text {{ reformat_phone(p) }}</button></a>
{% endmacro %}

<html>
    <head>
        <title>
            {% block title %}tris is a bad developer and forgot to change the page title{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/mycoolstylesheet.css">

        <!-- cribbed from rose, thank u hunter <3 -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                    crossorigin=""></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
                               integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
                               crossorigin=""/>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <hr />
        <footer>
            <span>logged in as {{ g.canvasser }}</span>
            &middot;
            <a href="/phonebank_toggle/?return={{ request.url|urlencode }}">
                {% if g.phonebank %}disable{% else %}enable{% endif %}
                phonebank mode!
            </a>
            &middot;
            <a href="/map_toggle/?return={{ request.url|urlencode }}">
                {% if session.use_map|default(True) %}disable{% else %}enable{% endif %}
                turf maps!
            </a>
        </footer>
    </body>
</html>
