{% extends "base.html" %}
{% block title %}Door: {{ door.address }}{% endblock %}
{% block content %}
<nav>
    <ul id="door-crumbs">
        {% if prev_door_id %}
        <li>{{ door_link(prev_door_id) }}</li>
        {% endif %}

        <li>back to {{ turf_link(door.turf_id) }}</li>

        {% if next_door_id %}
        <li>{{ door_link(next_door_id) }}</li>
        {% endif %}
    </ul>
</nav>
<h1><a target="_blank" href="https://maps.google.com/?q={{ ('directions to ' + door.address + ' ' + door.city + ' AL') | urlencode }}">{{ door.address }}</a></h1>

<h2>👨 Voters</h2>
<ul class="secretly-a-table">
    {% for id in door.voters %}
    <li>{{ voter_link(id) }}</li>
    {% endfor %}
</ul>
<a href="{{ url_for('new_door_contact', id=door.id) }}"><button>add voter</button></a>
<h2>🗒️ Notes</h2>
{{ render_notes(door) }}
{{ note_link("door", door.id) }}
{% endblock %}
