{% extends "base.html" %}
{% block title %}Voter: {{ voter.firstname }} {{ voter.middlename }} {{ voter.lastname }}{% endblock %}
{% block content %}
<nav>
    <ul id="door-crumbs">
        {% if g.phonebank and prev_voter_id %}
        <li>{{ voter_link(prev_voter_id) }}</li>
        {% endif %}

        {% if g.phonebank and voter.phonebank_turf_id %}
        <li>back to phonebank {{ turf_link(voter.phonebank_turf_id) }}</li>
        {% elif voter.turf_id %}
        <li>back to {{ turf_link(voter.turf_id) }}</li>
        {% endif %}

        {% if g.phonebank and next_voter_id %}
        <li>{{ voter_link(next_voter_id) }}</li>
        {% endif %}

        {% if not g.phonebank %}
        <li>back to {{ door_link(voter.door_id) }}</li>
        {% endif %}
    </ul>
</nav>
<h1>{{ voter.firstname }} {{ voter.middlename }} {{ voter.lastname }}</h1>

{{ note_link("voter", voter.id, text="log conversation") }}

<div>
    <strong>Registration status:</strong>
    {% if voter.activeinactive == "A" %}
    Active voter registration
    {% elif voter.activeinactive == "I" %}
    <strong>Inactive voter registration</strong> &mdash; have them reregister to vote?
    {% else %}
    Unknown voter registration status &mdash; have them register to vote?
    {% endif %}
</div>

<div>
    <strong>Demographics from Secretary of State:</strong>
    About {{ voter.age() }} years old,
    {% if voter.gender == "M" %}male{% elif voter.gender == "F" %}female{% elif voter.gender == "X" %}nonbinary{% else %}unknown gender{% endif %},
    {% if voter.race == "W" %}White{% elif voter.race == "B" %}Black{% elif voter.race == "H" %}Hispanic{% elif voter.race == "A" %}Asian{% elif voter.race == "O" %}Other race{% else %}Unknown race{% endif %}
</div>

{% if g.phonebank %}
    {% if voter.bestphone %}{{ phone_link("best", voter.bestphone) }}{% endif %}
    {% if voter.cellphone and voter.cellphone != voter.bestphone %}{{ phone_link("cell", voter.cellphone) }}{% endif %}
    {% if voter.landlinephone and voter.landlinephone != voter.bestphone %}{{ phone_link("landline", voter.landlinephone) }}{% endif %}

    {% if voter.cellphone %}{{ sms_link(voter.cellphone) }}{% endif %}
{% endif %}

<h2>🗒️ Conversations</h2>
{{ render_notes(voter) }}

<h2>🔧 Data admin</h2>
<a href="{{ url_for('edit_voter', id=voter.id) }}"><button>edit this voter</button></a>
{% endblock %}
