name: typecheck

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true # Speeds up repeated runs

      - name: Install dependencies
        run: uv sync --dev

      - name: Run Pyright
        run: uv run pyright
